<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login to Account</h1>
  <form method="post" action="/login">
    <input type="email" placeholder="email" name="email" id="">
    <input type="password" placeholder="password" name="password" id="">
    <input type="submit" value="Login">
  </form>
  
</body>
</html>